@page
@model IndexModel
@{
  ViewData["Title"] = "Home page";
}

<section class="jumbotron text-center" style="background-color: white">
  <h1 class="cover-heading">Welcome to Fake University</h1>
  <p class="lead">
    Fake University is a application built using ASP.NET Core Razor Pages web app. This is updated and optimised to work with an Angular web app. In the future, this app will be linked to an Azure powered database as backend.
  </p>
  <p>
    <a class="btn btn-primary my-2" href="#">
      <i class="fab fa-github"></i>
      Github Repo
    </a>
    <a class="btn btn-secondary my-2" href="https://docs.microsoft.com/en-us/aspnet/core/data/ef-rp/intro?view=aspnetcore-3.1&tabs=visual-studio">Microsoft Tutorial</a>
  </p>
</section>

@* TODO: Link to web app and maybe the sql server? *@